.delete-button{
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 2px;
    transition: background-color 100ms linear;
}
.delete-button:hover{
    background-color: #990000;
}